# Emacs
*~
\#*\#
/.emacs.desktop
/auto-save-list
*.elc
/init.el
/init-plugin.el

# Mac
.DS_Store

# Temporary Local Scripts (Do not commit)
fix_init.sh
repair_init.py
clean_install.sh
install_plugin.sh
