# Emacs byte-compiled files
*.elc

# Emacs backup/autosave
*~
\#*\#
.#*

# macOS
.DS_Store



# Build artifacts
/dist/

# Development Scripts (Private)
dev/

# Local Config (Private)
.emacs.d/


# Tests (Private)
test/
!test/modules/
